modules = ["nodejs-20", "python-3.12", "web", "bash"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Reload Environment"
author = 40485638
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash"
